.bigBtn {
    color: yellow;
    background-color: tomato;
    padding: 5px 25px;
    margin: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
    border: 1ps solid #ccc;
}

.bigBtn:hover{
    background-color: transparent;
    color: tomato;
    border: none;
}